.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.typeflow-logo {
    width: 100px;
}

.header-menu {
    mat-icon {
        font-size: 36px;
        width: 36px;
        height: 36px;
        color: var(--mat-sys-primary)
    }
}

.header-site-name {
    margin: 0;
    line-height: 100px;
}