<tf-header></tf-header>

<div class="user-blocks">

    <div class="user-main-data">
        <img src="/user-profile-adobe-stock.jpg" alt="User profile picture" class="user-profile-picture">

        <div class="user-main-data__container">
            <div>
                <h2 class="username">{{ user?.userName }}</h2>
                <p class="user-email">{{ user?.email }}</p>
                <p class="user-registration-date">{{ user?.registeredAt | date }}</p>  
            </div>
            <div class="user-characteristics">
                <div class="user-characteristics__row">
                    <p>Best result so far:</p>
                </div>
                <div class="user-characteristics__row">
                    <p>
                        <span>Accuracy</span>
                        {{ user?.statistics?.bestResult?.accuracy != null ? (user!.statistics.bestResult!.accuracy | percent:'1.0-0') : '--' }}
                    </p>
                    <p> <span>CPM</span> {{ user?.statistics?.bestResult?.charactersPerMinute ?? "--"}}</p>  
                    <p> <span>WPM</span> {{ user?.statistics?.bestResult?.wordsPerMinute ?? "--"}}</p>  
                </div>
            </div>
        </div>
    </div>

    <div class="chart">
        <tf-user-stats-charts></tf-user-stats-charts>
    </div>

</div>