.user-blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: calc(100vh - 100px);
    box-sizing: border-box;
    flex-direction: column;
}

.user-main-data{
    box-sizing: border-box;
    width: 100%;
    height: 180px;
    background-color: var(--mat-sys-on-secondary);
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    &__container{
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 180px);
    }
}

.username{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.user-profile-picture{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 460px;
}

.user-characteristics{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__row{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 16px;
        font-weight: 400;

        span {
            font-weight: 500;
        }
    }
}

