<tf-header></tf-header>
<div class="typing-test-container">
    <div class="typing-test__row">
        <div class="typing-test__mode">
            <div class="typing-test__mode-name">
                <mat-icon>text_fields</mat-icon>
                <p>Text</p>
            </div>
            <p class="typing-test__mode-description">Boost speed and accuracy with texts that follow clear reasoning patterns.</p>
        </div>
        <tf-timer></tf-timer>
    </div>
    <div>
        <div class="typing-test__text">
            {{challenge?.text}}
        </div>
        <textarea class="typing-test__input" id="userInput"
            (keydown)="onKeyDown($event)"
            (mousedown)="onMouseDown($event)"
            (mouseup)="onMouseUp($event)"
            (paste)="onPaste($event)"
            (copy)="onCopy($event)"
            (focus)="onFocus($event)"
            [(ngModel)]="userText" placeholder="Start typing"
        ></textarea>
    </div>
    <div class="typing-test__controls">
        <button mat-raised-button color="primary" (click)="loadNextChallenge()">Next challenge</button>
        <div>
            {{completionMessage}}
        </div>
    </div>
</div>