.timer {
    font-size: 48px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mat-sys-on-secondary);
    color: var(--mat-sys-on-secondary-container);
    width: 150px;
    border-radius: 10px;
    height: 80px;
}